In [1]:
import os
import numpy as np
from helper import save_pkl, load_pkl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import os

In [2]:
ytable = pd.read_excel("wholesepanorm_temporal.xlsx")

In [3]:
ytable = ytable[['Year', 'County', 'Ystar']]

In [4]:
witable = pd.read_excel("nowi.xlsx")

In [5]:
witable

        Year  Week    County            CR       GDD        SR        VP
0       1980    20     ADAMS  3.177657e-01  0.373574  0.203237  0.414821
1       1980    21     ADAMS  3.015491e-09  0.545875  0.543973  0.455979
2       1980    22     ADAMS  2.786065e-01  0.765586  0.542932  0.729241
3       1980    23     ADAMS  1.530019e-01  0.691861  0.396179  0.614000
4       1980    24     ADAMS  4.115283e-02  0.477466  0.699227  0.394845
...      ...   ...       ...           ...       ...       ...       ...
107323  2022    41  WOODFORD  2.593562e-01  0.105270  0.268064  0.169067
107324  2022    42  WOODFORD  0.000000e+00  0.589737  0.537992  0.274582
107325  2022    43  WOODFORD  2.351197e-01  0.326517  0.750891  0.387392
107326  2022    44  WOODFORD  1.438005e-01  0.573730  0.382120  0.736461
107327  2022    45  WOODFORD  1.006260e-02  0.401426  0.304283  0.537415

[107328 rows x 7 columns]

In [6]:
wihead = witable.keys()[3:7]
wihead

Index(['CR', 'GDD', 'SR', 'VP'], dtype='object')

In [7]:
## weather index
illi_CR = witable[['Year', 'Week', 'County', 'CR']]
illi_GDD = witable[['Year', 'Week', 'County', 'GDD']]
illi_SR = witable[['Year', 'Week', 'County', 'SR']]
illi_VP = witable[['Year', 'Week', 'County', 'VP']]

In [8]:
### merge and stack
illi_widata = []

## weather index
illi_widata.append(illi_CR.values)
illi_widata.append(illi_GDD.values)
illi_widata.append(illi_SR.values)
illi_widata.append(illi_VP.values)

### time, location -> time, location, variable
illi_widata = np.stack(illi_widata, axis=1)

In [9]:
illi_widata.shape

(107328, 4, 4)

In [10]:
X = []
for i in range(1980, 2022+1):
    x = illi_widata[(i-1980)*26*96 : (i-1980+1)*26*96, ...]
    X.append(x)
X = np.array(X)

In [11]:
X.shape

(43, 2496, 4, 4)

In [12]:
## import xwhole, xtrain, xval, xtest; ywhole, ytrain, yval, ytest
x_whole = [] 
for i in range(1980, 2022+1):
    x = illi_widata[(i-1980)*26*96 : (i-1980+1)*26*96, ...]
    x_whole.append(x)
x_whole = np.array(x_whole)

In [13]:
x_whole.shape

(43, 2496, 4, 4)

In [14]:
## x_train

x_train = []
for i in range(1980, 2013+1):
    x = illi_widata[(i-1980)*26*96 : (i-1980+1)*26*96, ...]
    x_train.append(x)
x_train = np.array(x_train)

In [15]:
## x_val

x_val = []
for i in range(2014, 2018+1):
    x = illi_widata[(i-2014+34)*26*96 : (i-2014+1+34)*26*96, ...]
    x_val.append(x)
x_val = np.array(x_val)

In [16]:
## x_test

x_test = []
for i in range(2019, 2022+1):
    x = illi_widata[(i-2019+39)*26*96 : (i-2019+1+39)*26*96, ...]
    x_test.append(x)
x_test = np.array(x_test)

In [17]:
ytable.values

array([[1980, 'ADAMS', 0.583881986040295],
       [1980, 'BOND', 0.429434186426414],
       [1980, 'BOONE', 0.738329785654175],
       ...,
       [2022, 'WILLIAMSON', 0.117790108234005],
       [2022, 'WINNEBAGO', 0.534559528702562],
       [2022, 'WOODFORD', 0.689923277161255]], dtype=object)

In [18]:
ywholelist = []
for eachyear in x_whole:
   year = eachyear[0][0][0]
   for allyield in ytable.values:
       if allyield[0] == year:
          ywholelist.append(allyield)
y_whole = np.array(ywholelist,dtype=object)

ytrainlist = []
for eachyear in x_train:
   year = eachyear[0][0][0]
   for allyield in ytable.values:
       if allyield[0] == year:
          ytrainlist.append(allyield)
y_train = np.array(ytrainlist,dtype=object)

yvallist = []
for eachyear in x_val:
   year = eachyear[0][0][0]
   for allyield in ytable.values:
       if allyield[0] == year:
          yvallist.append(allyield)
y_val = np.array(yvallist,dtype=object)

ytestlist = []
for eachyear in x_test:
   year = eachyear[0][0][0]
   for allyield in ytable.values:
       if allyield[0] == year:
          ytestlist.append(allyield)
y_test = np.array(ytestlist,dtype=object)

In [20]:
data = {}
data['x_whole'] = x_whole
data['y_whole'] = y_whole
data['x_train'] = x_train
data['y_train'] = y_train
data['x_val'] = x_val
data['y_val'] = y_val
data['x_test'] = x_test
data['y_test'] = y_test    

# save data
dir = ""
path = dir
save_pkl(data, path,  'illi_data_sepanormal_temporal.dict')

illi_data_sepanormal_temporal.dict  is dumped in:

In [21]:
illi_data_wi = load_pkl(dir, 'illi_data_sepanormal_temporal.dict')

illi_data_sepanormal_temporal.dict  is loaded from:

In [23]:
illi_data_wi['x_val']

array([[[[2014, 20, 'ADAMS', 0.356363362850653],
         [2014, 20, 'ADAMS', 0.0474058628204767],
         [2014, 20, 'ADAMS', 0.227681555857512],
         [2014, 20, 'ADAMS', 0.205274289604586]],

        [[2014, 21, 'ADAMS', 0.0174083589908543],
         [2014, 21, 'ADAMS', 0.566495838786252],
         [2014, 21, 'ADAMS', 0.683001147646808],
         [2014, 21, 'ADAMS', 0.396329134303367]],

        [[2014, 22, 'ADAMS', 0.100462448702718],
         [2014, 22, 'ADAMS', 0.747588871730378],
         [2014, 22, 'ADAMS', 0.472939134136024],
         [2014, 22, 'ADAMS', 0.645721139450127]],

        ...,

        [[2014, 43, 'WOODFORD', 0.00250202851201391],
         [2014, 43, 'WOODFORD', 0.234874477715634],
         [2014, 43, 'WOODFORD', 0.869705533057859],
         [2014, 43, 'WOODFORD', 0.253775558224769]],

        [[2014, 44, 'WOODFORD', 0.0372597879790864],
         [2014, 44, 'WOODFORD', 0.201054154019016],
         [2014, 44, 'WOODFORD', 0.686514436432622],
         [2014, 44, 'WOODFORD', 0.153407343310859]],

        [[2014, 45, 'WOODFORD', 0.111382572174395],
         [2014, 45, 'WOODFORD', 0.00842006534737264],
         [2014, 45, 'WOODFORD', 0.701138857565014],
         [2014, 45, 'WOODFORD', 0.275635946431468]]],


       [[[2015, 20, 'ADAMS', 0.203757780929723],
         [2015, 20, 'ADAMS', 0.447726587315666],
         [2015, 20, 'ADAMS', 0.22768147608416],
         [2015, 20, 'ADAMS', 0.489340566090809]],

        [[2015, 21, 'ADAMS', 0.458121224104251],
         [2015, 21, 'ADAMS', 0.142159972307012],
         [2015, 21, 'ADAMS', 0.267759160186243],
         [2015, 21, 'ADAMS', 0.116736445888065]],

        [[2015, 22, 'ADAMS', 0.284022513288482],
         [2015, 22, 'ADAMS', 0.220275367387],
         [2015, 22, 'ADAMS', 0.0567578979429912],
         [2015, 22, 'ADAMS', 0.410727838956577]],

        ...,

        [[2015, 43, 'WOODFORD', 0.126890089210573],
         [2015, 43, 'WOODFORD', 0.739024251738358],
         [2015, 43, 'WOODFORD', 0.548014049737744],
         [2015, 43, 'WOODFORD', 0.785859935244175]],

        [[2015, 44, 'WOODFORD', 0.319096101902197],
         [2015, 44, 'WOODFORD', 0.0632069062297301],
         [2015, 44, 'WOODFORD', 0.309474780826744],
         [2015, 44, 'WOODFORD', 0.221986138385514]],

        [[2015, 45, 'WOODFORD', 0.235304682398744],
         [2015, 45, 'WOODFORD', 0.584776681415341],
         [2015, 45, 'WOODFORD', 0.612600077984113],
         [2015, 45, 'WOODFORD', 0.639245781116249]]],


       [[[2016, 20, 'ADAMS', 0.0756279443983088],
         [2016, 20, 'ADAMS', 0.16866151155752],
         [2016, 20, 'ADAMS', 0.695807816924625],
         [2016, 20, 'ADAMS', 0.144873763221404]],

        [[2016, 21, 'ADAMS', 0.605811958627798],
         [2016, 21, 'ADAMS', 0.757178591680421],
         [2016, 21, 'ADAMS', 0.345445060034307],
         [2016, 21, 'ADAMS', 0.648072924274925]],

        [[2016, 22, 'ADAMS', 0.0520621847953471],
         [2016, 22, 'ADAMS', 0.546218347774241],
         [2016, 22, 'ADAMS', 0.59548821136152],
         [2016, 22, 'ADAMS', 0.520104803581264]],

        ...,

        [[2016, 43, 'WOODFORD', 0.232569861882038],
         [2016, 43, 'WOODFORD', 0.314886906076509],
         [2016, 43, 'WOODFORD', 0.282557567014899],
         [2016, 43, 'WOODFORD', 0.577659783188716]],

        [[2016, 44, 'WOODFORD', 0.225950940482658],
         [2016, 44, 'WOODFORD', 0.587528213663677],
         [2016, 44, 'WOODFORD', 0.650718006939938],
         [2016, 44, 'WOODFORD', 0.664435989115408]],

        [[2016, 45, 'WOODFORD', 0.03211872599828],
         [2016, 45, 'WOODFORD', 0.0929397986845018],
         [2016, 45, 'WOODFORD', 0.803622424283469],
         [2016, 45, 'WOODFORD', 0.321165809744902]]],


       [[[2017, 20, 'ADAMS', 0.757189876237999],
         [2017, 20, 'ADAMS', 0.640402379667119],
         [2017, 20, 'ADAMS', 0.27783339246628],
         [2017, 20, 'ADAMS', 0.674536099229882]],

        [[2017, 21, 'ADAMS', 0.418137433299124],
         [2017, 21, 'ADAMS', 0.305756628325487],
         [2017, 21, 'ADAMS', 0.363024575589104],
         [2017, 21, 'ADAMS', 0.267426619351031]],

        [[2017, 22, 'ADAMS', 1.19057471983279e-05],
         [2017, 22, 'ADAMS', 0.374180848105905],
         [2017, 22, 'ADAMS', 0.900594914362413],
         [2017, 22, 'ADAMS', 0.255595558908743]],

        ...,

        [[2017, 43, 'WOODFORD', 0.15503161287402],
         [2017, 43, 'WOODFORD', 0.0462197632491543],
         [2017, 43, 'WOODFORD', 0.212952877111542],
         [2017, 43, 'WOODFORD', 0.196179003719356]],

        [[2017, 44, 'WOODFORD', 0.0458617178941922],
         [2017, 44, 'WOODFORD', 0.000130581394090224],
         [2017, 44, 'WOODFORD', 0.604911273692397],
         [2017, 44, 'WOODFORD', 0.102173437936112]],

        [[2017, 45, 'WOODFORD', 0.131885828644716],
         [2017, 45, 'WOODFORD', 0.0],
         [2017, 45, 'WOODFORD', 0.590384445266496],
         [2017, 45, 'WOODFORD', 0.0988483925135865]]],


       [[[2018, 20, 'ADAMS', 0.197816447923713],
         [2018, 20, 'ADAMS', 0.777018304810311],
         [2018, 20, 'ADAMS', 0.129036735297922],
         [2018, 20, 'ADAMS', 0.788517242033589]],

        [[2018, 21, 'ADAMS', 0.207967641538684],
         [2018, 21, 'ADAMS', 0.927215327757567],
         [2018, 21, 'ADAMS', 0.215722274269779],
         [2018, 21, 'ADAMS', 0.817499244995656]],

        [[2018, 22, 'ADAMS', 0.0290697941068354],
         [2018, 22, 'ADAMS', 0.934565071902097],
         [2018, 22, 'ADAMS', 0.46082109678497],
         [2018, 22, 'ADAMS', 0.812904438551913]],

        ...,

        [[2018, 43, 'WOODFORD', 0.147298117408576],
         [2018, 43, 'WOODFORD', 0.0],
         [2018, 43, 'WOODFORD', 0.602898778791305],
         [2018, 43, 'WOODFORD', 0.0342590238985258]],

        [[2018, 44, 'WOODFORD', 0.245622152940428],
         [2018, 44, 'WOODFORD', 0.0887508757657254],
         [2018, 44, 'WOODFORD', 0.412115725944788],
         [2018, 44, 'WOODFORD', 0.258058503064704]],

        [[2018, 45, 'WOODFORD', 0.282783221485891],
         [2018, 45, 'WOODFORD', 0.0],
         [2018, 45, 'WOODFORD', 0.23675360078006],
         [2018, 45, 'WOODFORD', 0.188960092331221]]]], dtype=object)